.home-tabs {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.tab {
  flex: 1;
  padding: 10px 20px;
  font-size: 1rem;
  background: #2a2a3d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background 0.5s ease-in-out;
}

/* Active Tab */
.tab.active {
  background: linear-gradient(135deg, #4f5bd5, #962fbf, #d62976, #fa7e1e  );
  background-size: 300% 300%;
  animation: gradientMove 10s linear infinite; 
  /* box-shadow: 0 0 15px rgba(250, 126, 30, 0.7); */
  transform: scale(1.1);
}

.tab:hover {
  background: linear-gradient(135deg, #4f5bd5);
  background-size: 300% 300%;
  animation: gradientMoveHover 0.15s ease-in-out forwards; /* Brief animation on hover */
  transform: scale(1.05);
}

.home-content {
  margin-top: 10px;
  padding: 30px;
  border-radius: 10px;
  background: #2a2a3d; 
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Gradient animation for active tabs */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientMoveHover {
  0% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
